.section3 {
     height: auto;
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
}
.section3-text-wrapper {
     width: 1196px;
     height: 90px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: auto;
}

.section3-text {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 10px;
     height: 54px;
     min-width: 260px;
}

.title3-text {
     white-space: nowrap;
     font-size: 24px;
     font-weight: 700;
}
.section3-wrapper{
     width: 1196px;
     display: flex;
     justify-content: space-between;
     margin: auto;
}
.section3-slide{
     width: 357px;
     height: 546px;
     min-width: 357px;
}
.section3-img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 10px;
}