.section1 {
     height: auto;
     margin: auto;
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
     position: relative;
}

.section-text-wrapper {
     width: 1196px;
     height: 90px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: auto;
}

.section-text {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 10px;
     height: 54px;
     min-width: 260px;
}

.title-text {
     font-size: 24px;
     font-weight: 700;
}

.btn-plus {
     height: 35px;
     width: 58px;
     min-width: 58px;
     background-color: #fff;
     color: #000000;
     font-size: 16px;
     font-weight: 400;
     padding: 8px;
     text-align: center;
}
ul{
     list-style: none;
     margin: 0;
     padding: 0;
}
.section1-wrapper {
     width: 100%;
     height: 240px;
     margin: auto;
     /* overflow: hidden; */
}

.section1-ul-all{
     width: calc(100% * 2);
     display: flex;
     gap: 22px;
     transition: transform 0.8s ease;
}

.section1-slide {
     flex: 0 0 calc(100% -22px * 5 / 6);
     height: 240px;
     min-width: 180px;
     position: relative;
     box-sizing: border-box;
}

.section1-img {
     border-radius: 10px;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: 0;
     border: 500;
}

.section1-slide-item {
     position: absolute;
     bottom: 10px;
     left: 10px;
     display: flex;
     justify-content: left;
     align-items: center;
     gap: 5px;
     z-index: 1;
}

.userprofile {
     width: 24px;
     height: 24px;
     border-radius: 50%; 
     object-fit: cover;
     border: none;
}

.username {
     color: #fff;
     font-size: 10px;
     font-weight: 300;
}

.main-pre-button,
.main-next-button {
     position: absolute;
     cursor: pointer;
     background: none;
     border: none;
     top: 68%;
     transform: translateY(-50%);
     z-index: 10;
}
.main-pre-button{
     left: -40px;
}
.main-next-button{
     right: -40px;
}